<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Redal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div
    class="col-md-6 offset-md-3 bg-cover"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    "
  >
    <div class="card mt-5 shadow-lg border-0">
      <div class="card-header bg-primary text-white text-center">
        <h2 class="text-uppercase">Authentification</h2>
      </div>
      <div class="card-body p-5">
        <form [formGroup]="userformgroup" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" />
          </div>
          <div class="mb-3">
            <label class="form-label">Mot de passe</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
            />
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary">Connexion</button>
            <button class="btn btn-secondary" routerLink="/user-registre">
              Inscription
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
